body{
    font-family: 'poppins', sans-serif;
}
.container{
    width: 900px;
    max-width: 90vh;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .icon-cart{
    position: relative;
}
header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}
.listproduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listproduct{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.listproduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}
.listproduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listproduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listproduct .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.carttab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows:  70px 1fr 70px;
    transition: .5s;
}
body.showcart.carttab{
    inset: 0 0 0 auto;
}
body.showcart .carttab{
    transform: translatex(-400px);
}
.carttab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.carttab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    
}
.carttab .btn button{
    background-color: #e8bc0e;
    border: none;
    font-family: poppins;
    font-weight: 500;
    cursor: pointer;
}
.carttab .btn .close{
    background-color: #eee;
}
.carttab .listcart .item img{
    width: 100%;
}
.carttab .listcart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    text-align: center;
    align-items: center;
    margin-left: 10px;
}
.listcart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    align-content: center;
    cursor: pointer;
}
.listcart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listcart .item:nth-child(even){
    background-color: #eee1;
}
.listcart{
    overflow: auto;
}
.listcart::-webkit-scrollbar{
    width: 0;
}